/target/
**/*.rs.bk
*.swp
data/*
WordNet-3.0-glosstag.tar.gz
all.zip
sled
wordnet.db
wordnet.nt
wordnet.ttl
wordnet.nt.gz
*.db
*.nt
*.nt.gz
.idea
*.db2
tmp*
polylingwn.xml

english-wordnet-2019.xml
test_load.py
english-wordnet-2020.ttl.gz
english-wordnet-2021.ttl.gz

wn.xml
english-wordnet-2021.xml
wordnet.db3
Cargo.lock
