<div class="synset">
    <div class="synset-id" ng-show="$ctrl.display.ids">
        <span ng-bind="$ctrl.synset.id" class="identifier"></span>              (<b class="synset-id-title">Interlingual Index:</b> 
        <span ng-bind="$ctrl.synset.ili" class="identifier"></span>)
        <hr/>
    </div>
        
    <div class="lemmas">
        <span class="pos">({{$ctrl.synset.pos}})</span>
        <span class="lemma" ng-repeat="sense in $ctrl.synset.lemmas">
            <a target="_self" ng-href="/lemma/{{sense.lemma}}" ng-if="sense.lemma != $ctrl.focus">{{sense.lemma}}</a><span class="underline" ng-if="sense.lemma == $ctrl.focus">{{sense.lemma}}</span><span ng-if="!$ctrl.display.sensekeys && !$ctrl.display.pronunciation">{{$last ? '' : ','}}</span><span ng-if="$ctrl.display.pronunciation && sense.pronunciations.length > 0" class="pronunciation">
                (Pronunciation:
                <span ng-repeat="pron in sense.pronunciations">
                    <span ng-if="pron.variety" class="pronunciation_variety">({{pron.variety}})</span>
                    {{pron.value}}{{$last ? '' : ', '}}</span>)
            </span><span ng-if="!$ctrl.display.sensekeys && $ctrl.display.pronunciation">{{$last ? '' : ','}}</span><span ng-bind="sense.sense_key" class="sense_key" ng-if="$ctrl.display.sensekeys"></span><span ng-if="$ctrl.display.sensekeys">{{$last ? '' : ','}}</span>
        </span>
        <span ng-if="$ctrl.synset.gloss === null" ng-bind="$ctrl.synset.definition" class="definition"></span>
        <span ng-if="$ctrl.synset.gloss === null" ng-repeat="example in $ctrl.synset.examples" class="example"> {{example}}</span>
        <span ng-if="$ctrl.synset.gloss" class="definition">
            <span ng-repeat="gloss in $ctrl.synset.gloss">
                <span ng-if="gloss.gloss_type == 'Def'">
                    <span ng-repeat="word in gloss.words" class="gloss_word">
                        <a ng-if="word.synset"
                            target="_self"
                         ng-href="/id/{{word.synset}}"
                        >{{word.text}}{{word.sep}}&#x200b;</a>
                        <a ng-if="word.synset === null && word.glob !== null"
                            target="_self"
                            ng-href="/id/{{word.glob}}"
                        >{{word.text}}{{word.sep}}&#x200b;</a>
                        <span ng-if="word.synset === null && word.glob === null"
                        >{{word.text}}{{word.sep}}&#x200b;</span>
                        <span class="gloss_details">
                            <span ng-if="word.synset !== null">Synset: <a ng-href="/id/{{word.synset}}">{{word.synset}}</a><br/></span>
                            <span ng-if="word.glob !== null">Multiword Synset: <a ng-href="/id/{{word.glob}}">{{word.glob}}</a><br/></span>
                            Lemma: {{word.lemma}}<br/>
                            PoS: {{word.pos}}<br/>
                            Tag: {{word.tag}}
                        </span>
                    </span>
                </span>
            </span>
            <span ng-repeat="gloss in $ctrl.synset.gloss">
                <span ng-if="gloss.gloss_type == 'Aux'">
                    <span ng-repeat="word in gloss.words" class="gloss_word">
                        <a ng-if="word.synset"
                            target="_self"
                         ng-href="/id/{{word.synset}}"
                        >{{word.text}}{{word.sep}}&#x200b;</a>
                        <a ng-if="word.synset === null && word.glob !== null"
                            target="_self"
                            ng-href="/id/{{word.glob}}"
                        >{{word.text}}{{word.sep}}&#x200b;</a>
                        <span ng-if="word.synset === null && word.glob === null"
                        >{{word.text}}{{word.sep}}&#x200b;</span>
                        <span class="gloss_details">
                            <span ng-if="word.synset !== null">Synset: <a ng-href="/id/{{word.synset}}">{{word.synset}}</a><br/></span>
                            <span ng-if="word.glob !== null">Multiword Synset: <a ng-href="/id/{{word.glob}}">{{word.glob}}</a><br/></span>
                            Lemma: {{word.lemma}}<br/>
                            PoS: {{word.pos}}<br/>
                            Tag: {{word.tag}}
                        </span>
                    </span>
                </span>
            </span>
             <span ng-repeat="gloss in $ctrl.synset.gloss">
                <span ng-if="gloss.gloss_type == 'Ex'">
                    <span ng-repeat="word in gloss.words" class="gloss_word">
                        <a ng-if="word.synset"
                            target="_self"
                         ng-href="/id/{{word.synset}}"
                        >{{word.text}}{{word.sep}}&#x200b;</a>
                        <a ng-if="word.synset === null && word.glob !== null"
                            target="_self"
                            ng-href="/id/{{word.glob}}"
                        >{{word.text}}{{word.sep}}&#x200b;</a>
                        <span ng-if="word.synset === null && word.glob === null"
                        >{{word.text}}{{word.sep}}&#x200b;</span>
                        <span class="gloss_details">
                            <span ng-if="word.synset !== null">Synset: <a ng-href="/id/{{word.synset}}">{{word.synset}}</a><br/></span>
                            <span ng-if="word.glob !== null">Multiword Synset: <a ng-href="/id/{{word.glob}}">{{word.glob}}</a><br/></span>
                            Lemma: {{word.lemma}}<br/>
                            PoS: {{word.pos}}<br/>
                            Tag: {{word.tag}}
                        </span>
                    </span>
                </span>
            </span>
         </span>
         <div class="foreign">
            <div ng-repeat="(lang, words) in $ctrl.synset.foreign">
                <img ng-src="/flag/{{lang}}" ng-if="$ctrl.display['lang_'+lang]"/>
                <span ng-repeat="word in words" ng-if="$ctrl.display['lang_'+lang]">{{word}}{{$last ? '' : ', '}}</span>
            </div>
        </div>
        <div ng-if="$ctrl.display.topics" class="topic">
            <b>Topic: </b> {{$ctrl.synset.subject}}
        </div>
        <div ng-if="$ctrl.display.subcats" class="subcats">
            <b ng-if="$ctrl.hasSubcats()">Subcategorization Frames:</b>
            <ul ng-repeat="sense in $ctrl.synset.lemmas" ng-if="$ctrl.hasSubcats()">
            <li class="subcat" ng-repeat="subcat in sense.subcats">{{subcat.replace('----', sense.lemma)}}</span>
            </ul>
        </div>
        <ul ng-if="$ctrl.display.wn30 || $ctrl.display.wn_old" class="old_ids">
            <li ng-show="$ctrl.display.wn30" ng-repeat="id in $ctrl.synset.old_keys.pwn30">WordNet 3.0: {{id}}</li>
            <li ng-show="$ctrl.display.wn_old" ng-repeat="id in $ctrl.synset.old_keys.pwn21">WordNet 2.1: {{id}}</li>
            <li ng-show="$ctrl.display.wn_old" ng-repeat="id in $ctrl.synset.old_keys.pwn20">WordNet 2.0: {{id}}</li>
            <li ng-show="$ctrl.display.wn_old" ng-repeat="id in $ctrl.synset.old_keys.pwn171">WordNet 1.7.1: {{id}}</li>
            <li ng-show="$ctrl.display.wn_old" ng-repeat="id in $ctrl.synset.old_keys.pwn17">WordNet 1.7: {{id}}</li>
            <li ng-show="$ctrl.display.wn_old" ng-repeat="id in $ctrl.synset.old_keys.pwn16">WordNet 1.6: {{id}}</li>
            <li ng-show="$ctrl.display.wn_old" ng-repeat="id in $ctrl.synset.old_keys.pwn15">WordNet 1.5: {{id}}</li>
        </ul>

        <div ng-repeat="link in $ctrl.synset.links">
            <a ng-href="https://verbs.colorado.edu/verb-index/vn/{{link.target}}.php" 
                ng-if="link.link_type === 'VerbNet'"
                class="pull-right"><img src="/static/verbnet.gif" 
                width="30px" ng-title="VerbNet: {{link.target}}"/></a>
            <a ng-href="https://en.wikipedia.org/wiki/{{link.target}}" 
                ng-if="link.link_type === 'Wikipedia'"
                class="pull-right"><img src="/static/wikipedia.png" 
                width="30px" ng-title="Wikipedia: {{link.target}}"/></a>
        </div>
        <div ng-if="$ctrl.show_relations" class="relations">
            <relation display="$ctrl.display"
                targetSynsets="$ctrl.targetsynsets"
                fullname="Hypernyms"
                relation="hypernym"
                relations="$ctrl.synset.relations"></relation>
            <relation relation="hyponym" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Hyponyms"></relation>
             <relation relation="antonym" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Antonyms"></relation>
            <relation relation="attribute" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Attributes"></relation>
            <relation relation="causes" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Causes"></relation>
            <relation relation="derivation" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Derived Forms"></relation>
            <relation relation="domain_category" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Domains (category)"></relation>
            <relation relation="domain_member_category" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Members (category)"></relation>
            <relation relation="domain_member_region" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Members (region)"></relation>
            <relation relation="domain_region" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Domains (region)"></relation>
            <relation relation="domain_topic" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Domains (topic)"></relation>
            <relation relation="entails" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Entails"></relation>
            <relation relation="exemplifies" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Exemplifies"></relation>
            <relation relation="has_domain_region" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Members (region)"></relation>
            <relation relation="has_domain_topic" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Members (topic)"></relation>
            <relation relation="holo_member" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Holonyms (member)"></relation>
            <relation relation="holo_part" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Holonyms (part)"></relation>
            <relation relation="holo_substance" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Holonyms (substance)"></relation>
            <relation relation="also" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="See Also"></relation>
           <relation relation="instance_hypernym" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Is Instance of"></relation>
            <relation relation="instance_hyponym" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Instances"></relation>
            <relation relation="is_exemplified_by" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Is Exemplified By"></relation>
            <relation relation="mero_member" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Meronyms (member)"></relation>
            <relation relation="mero_part" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Meronyms (part)"></relation>
            <relation relation="mero_substance" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Meronyms (substance)"></relation>
            <relation relation="participle" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Participles"></relation>
            <relation relation="pertainym" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Pertainyms"></relation>
            <relation relation="similar" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Similar to"></relation>
            <relation relation="verb_group" display="$ctrl.display"
                targetsynsets="$ctrl.targetsynsets"
                relations="$ctrl.synset.relations"
                fullname="Verb groups"></relation>
            <a class="btn" href="#" ng-show="$ctrl.targetsynsetsextra.length > 0"
               ng-click="$ctrl.extendtargetsynsets()">Load More</a>
        </div>

        <div class="more">
            <a href="#"
                ng-show="!$ctrl.show_relations"
                ng-click="$ctrl.show_relations = !$ctrl.show_relations">MORE &#x25B6;</a>
        </div>
    </div>
</div>
