body {
    font-family: 'Libre Franklin', sans-serif;
}

.synset {
    border: 1px solid rgba(0,0,0,.21);
    padding: 40px;
    margin: 20px;
}

.lemmas {
    font-size: 14pt;
}

.definition:before {
    content: ' - ';
}

.definition {
    font-size: 0.8em;
    color: #777;
    font-style: italic;
}

.sense_key:before {
    content: '(';
}

.sense_key:after {
    content: ')';
}

.sense_key {
    color: #aaa;
    font-family: 'Cousine', monospace;
}

.synset-id {
    font-size: 16pt;
}

.identifier {
    font-family: 'Cousine', monospace;
}

.more {
    padding-top:5px;
    padding-left:20px;
    font-size: 16px;
    text-decoration: none;
}

.more a {
    color: black;
}

.more:hover {
    text-decoration: underline;
}
