
body {
    font-family: 'Libre Franklin', sans-serif;
}

.synset {
    padding-left:15px;
    padding-bottom:10px;
}

.lemmas {
    font-size: 14pt;
}

.definition:before {
    content: ' - ';
}

.definition {
    font-size: 0.8em;
    color: #777;
    font-style: italic;
}

.sense_key:before {
    content: '(';
}

.sense_key:after {
    content: ')';
}

.sense_key {
    color: #aaa;
    font-family: 'Scope One', monospace;
}

.synset-id {
    font-size: 16pt;
}

.identifier {
    font-family: 'Cousine', monospace;
}

.more {
    padding-top:5px;
    padding-left:20px;
    font-size: 16px;
    text-decoration: none;
}

.more a {
    color: black;
}

.more:hover {
    text-decoration: underline;
}

.relations {
    padding-left:30px;
}

.relation-word {
    padding-left:30px;
}

.pos {
    color: firebrick;
}

.underline {
    text-decoration: underline;
}

.synset-id hr {
    margin-top:2px;
    margin-bottom:2px;
}

.relation-title a {
    text-decoration:none;
    color:black;
}

.relation-title a:hover {
    text-decoration: underline;
}

.lemma a {
    color:black;
}

.topic {
    margin-left:25px;
}

.subcats {
    margin-left:25px;
}
