body {
    font-family: 'Libre Franklin', sans-serif;
    border-top: 4px solid #e77500;
  margin-bottom: 60px;
}
.footer {
  height: 100px;
  padding: 20px;
  font-size: 16px;
  text-align:right;
  font-family: 'Suranna', serif;

}
wordnet .row {
    min-height:700px;
}
h1 {
    font-family: 'Suranna', serif;
}

h3 {
    font-family: 'Suranna', serif;
    font-size: 30px;
}

.relation-title {
    font-family: 'Suranna', serif;
    font-size: 1.1em;
}

.synset {
    padding-left:15px;
    padding-bottom:10px;
}

.lemmas {
    font-size: 14pt;
}

.definition:before {
    content: ' - ';
}

.definition {
    font-size: 0.8em;
    color: #777;
    font-style: italic;
}

.sense_key:before {
    content: '(';
}

.sense_key:after {
    content: ')';
}

.sense_key {
    color: #aaa;
    font-family: 'Scope One', monospace;
}

.synset-id {
    font-size: 16pt;
}

.identifier {
    font-family: 'Scope One', monospace;
}

.more {
    padding-top:5px;
    padding-left:20px;
    font-size: 16px;
    text-decoration: none;
}

.more a {
    color: black;
}

.more:hover {
    text-decoration: underline;
}

.relations {
    padding-left:30px;
}

.relation-word {
    padding-left:30px;
}

.pos {
    color: firebrick;
}

.underline {
    text-decoration: underline;
}

.synset-id hr {
    margin-top:2px;
    margin-bottom:2px;
}

.relation-title a {
    text-decoration:none;
    color:black;
}

.relation-title a:hover {
    text-decoration: underline;
}

.lemma a {
    color:black;
}

.topic {
    margin-left:25px;
}

.subcats {
    margin-left:25px;
}
.pos_grp h3:only-child {
    display:none;
}

.option_panel {
    clear:both;
    background-color:black;
    color: #eee;
}
div.option_panel_internal {
    padding: 10px;
}

.option_panel .md-icon {
    border-color: #ccc !important;
}

.option_panel md-checkbox.md-checked .md-icon {
    background-color: #e87722 !important;
}

.option_button {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left:0px;
    margin-right:0px;
    border-radius:0px;
}

.option_button_selected {
    background-color: black;
    color:#eee;
}

.option_button_selected:hover {
    background-color: black !important;
    color:#eee;
}
.gloss_word {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.gloss_word .gloss_details {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.gloss_word:hover .gloss_details {
    visibility: visible;
}

.gloss_word a {
    text-decoration: none;
    color: #777;
}

.definition:hover a {
    border-bottom: 1px dotted #999;
}
.md-virtual-repeat-container .md-autocomplete-suggestions-container { position: fixed; bottom: 50px !important; height: initial !important; max-height: 99999999px !important; }

.search-control {
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    padding: 6px 12px;
    color: #555;
}

.search-group li {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.search-group li:hover {
    background: #eee;
}

.search-group li a {
    color: #333;
}
