<div class="row">
  <div ng-controller="SearchController as ctrl" layout="column" ng-cloak="">
    <table width="100%">
      <tr>
        <td width="100px;" style="vertical-align:top;">
          <md-menu>
            <button class="md-button" ng-click="$mdMenu.open()" class="md-icon-button">{{ctrl.index}}</button>
            <md-menu-content>
              <md-menu-item><md-button ng-click="ctrl.index = 'lemma'">Lemma</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.index = 'id'">Identifier</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.index = 'ili'">Interlingual Identifier</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.index = 'sense_key'">Sense Key</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.index = 'pwn30'">WordNet 3.0</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.index = 'pwn21'">WordNet 2.1</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.index = 'pwn20'">WordNet 2.0</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.index = 'pwn171'">WordNet 1.7.1</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.index = 'pwn17'">WordNet 1.7</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.index = 'pwn16'">WordNet 1.6</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="ctrl.index = 'pwn15'">WordNet 1.5</md-button></md-menu-item>
            </md-menu-content>
          </md-menu>
        </td>
        <td>
          <input type="text" class="search-control" placeholder="Search"
                 ng-model="ctrl.query" ng-change="ctrl.querySearch()"
                 ng-keyup="ctrl.keyPress($event.keyCode)">
          <ul class="list-group search-group" ng-if="ctrl.results && ctrl.results.length > 0">
              <li ng-repeat="result in ctrl.results" class="list-group-item" ng-click="ctrl.selectedItemChange(result)">
                <a ng-bind="result.display"></a>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
    <div>
        <md-button slide-toggle="#display" class="pull-right option_button" ng-click="display.display = !display.display"
                                      ng-class="{option_button_selected: display.display}">Options  &#x25bc;</md-button>
        <md-button slide-toggle="#langs" class="pull-right option_button" ng-click="display.langs = !display.langs"
                                      ng-class="{option_button_selected: display.langs}">Translations   &#x25bc;</md-button>
    </div>
    <div id="display" class="slideable option_panel">
       <div class="option_panel_internal">
           <table>
               <tr>
                   <td><md-checkbox ng-model="display.ids">Show Synset Identifier</md-checkbox></td>
                   <td><md-checkbox ng-model="display.sensekeys">Show Sense Keys</md-checkbox></td>
                   <td><md-checkbox ng-model="display.subcats">Show Subcategorization Frames</md-checkbox></td>
                   <td><md-checkbox ng-model="display.topics">Show Topics</md-checkbox></td>
                   <td><md-checkbox ng-model="display.wn30">Show WordNet 3.0 Identifer</md-checkbox></td>
                   <td><md-checkbox ng-model="display.wn_old">Show Previous WordNet Identifiers</md-checkbox></td>
           </table>
       </div>
    </div>
    <div id="langs" class="slideable option_panel">
       <div class="option_panel_internal">
           <table>
               <tr>
                   <td><md-checkbox ng-model="display.lang_als"><img src="/flag/als"/> Albanian</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_arb"><img src="/flag/arb"/> Arabic</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_ind"><img src="/flag/ind"/> Bahasa Indonesia</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_zsm"><img src="/flag/zsm"/> Bahasa Malay</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_eus"><img src="/flag/eus"/> Basque</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_bul"><img src="/flag/bul"/> Bulgarian</md-checkbox></td>
               </tr><tr>
                   <td><md-checkbox ng-model="display.lang_cat"><img src="/flag/cat"/> Catalan</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_cmn"><img src="/flag/cmn"/> Chinese (simplified)</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_qcn"><img src="/flag/qcn"/> Chinese (traditional)</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_hrv"><img src="/flag/hrv"/> Croatian</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_nld"><img src="/flag/nld"/> Dutch</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_fin"><img src="/flag/fin"/> Finnish</md-checkbox></td>
               </tr><tr>
                   <td><md-checkbox ng-model="display.lang_fra"><img src="/flag/fra"/> French</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_glg"><img src="/flag/glg"/> Galician</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_ell"><img src="/flag/ell"/> Greek</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_heb"><img src="/flag/heb"/> Hebrew</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_isl"><img src="/flag/isl"/> Icelandic</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_ita"><img src="/flag/ita"/> Italian</md-checkbox></td>
               </tr><tr>
                   <td><md-checkbox ng-model="display.lang_jpn"><img src="/flag/jpn"/> Japanese</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_lit"><img src="/flag/lit"/> Lithuanian</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_nno"><img src="/flag/nno"/> Norwegian (Nynorsk)</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_nob"><img src="/flag/nob"/> Norwegian (Bokm&aring;l)</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_fas"><img src="/flag/fas"/> Persian</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_pol"><img src="/flag/pol"/> Polish</md-checkbox></td>
               </tr><tr>
                   <td><md-checkbox ng-model="display.lang_por"><img src="/flag/por"/> Portuguese</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_ron"><img src="/flag/ron"/> Romanian</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_slk"><img src="/flag/slk"/> Slovakian</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_slv"><img src="/flag/slv"/> Slovene</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_spa"><img src="/flag/spa"/> Spanish</md-checkbox></td>
                   <td><md-checkbox ng-model="display.lang_swe"><img src="/flag/swe"/> Swedish</md-checkbox></td>
               </tr><tr>
                   <td><md-checkbox ng-model="display.lang_tha"><img src="/flag/tha"/> Thai</md-checkbox></td>
               </tr>
           </table>
       </div>
    </div>
    <span class="pos_grp">
    <h3 class="pos_label">Nouns</h3>
    <div ng-repeat="synset in synsets | filter:{'pos':'n'}">
        <synset synset="synset" display="display" focus="focus"></synset>
    </div>
    </span>
    <span class="pos_grp">
    <h3 class="pos_label">Verbs</h3>
    <div ng-repeat="synset in synsets | filter:{'pos':'v'}">
        <synset synset="synset" display="display" focus="focus"></synset>
    </div>
    </span>
    <span class="pos_grp">
    <h3 class="pos_label">Adverbs</h3>
    <div ng-repeat="synset in synsets | filter:{'pos':'r'}">
        <synset synset="synset" display="display" focus="focus"></synset>
    </div>
    </span>
    <span class="pos_grp">
    <h3 class="pos_label">Adjectives</h3>
    <div ng-repeat="synset in synsets | isAdjective">
        <synset synset="synset" display="display" focus="focus"></synset>
    </div>
    </span>
    <div class="pull-right" ng-show="link">
        <b>Download As:</b>&nbsp;&nbsp;<a target="_self" ng-href="/json/{{link}}">JSON</a>&nbsp;&nbsp;
            <a target="_self" ng-href="/ttl/{{link}}">RDF</a>&nbsp;&nbsp;
            <a target="_self" ng-href="/xml/{{link}}">XML</a>
    </div>
</div>

